.idea
.vscode
venv/
cis_render/__pycache__
cis_render/.cache/
_build
tests.diff
unused.py
unused1.py
scene_settings.txt
__pycache__/
.cache/
_templates/
_static/
mock_bpy/__pycache__/
mock_bpy/.cache/
mock_bpy/bpy/__pycache__/


